name: publish-action
on:
  release:
    types: [released]
jobs:
  publish-action:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1
        with:
            bun-version: latest
      - run: bun install
      - uses: actions4git/setup-git@v1
      - run: git add -Af && git commit -m 'Automatic changes'
      - run: git tag -f "$TAG" && git push -f origin "$TAG"
        env:
          TAG: ${{ github.event.release.tag_name }}
      - uses: actions/publish-action@v0.2.2
        with:
          source-tag: ${{ github.event.release.tag_name }}
